@import "../../global.scss";

.resume {
  background: linear-gradient(
    rgba(148, 91, 136, 0.544) 1%,
    rgba(148, 91, 136, 0.544) 3%,
    #517293d0 10%
  );
  color: #ecf0f1;
  position: relative; 
  justify-content: center;
  align-items: center;
  display: flex;

  h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 95px;
  }

  @include mobile {
    scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }
  }
}

.timelineContainer {
  position: absolute;
  top: 200px;
  left: 0;

  @include mobile {
    top: 120px;
    scrollbar-width: none;
  }

  .timeline-steps {
    display: flex;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }
    
    .timeline-step {
      align-items: center;
      display: flex;
      position: relative;
      @include mobile {
        flex-direction: column;
      }

      &:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 16rem; //Original width: 3.46rem;
        position: absolute;
        left: 11rem;// Original left: 7.5rem;
        top: 3.5rem;
        padding-top: 50px;

        @include mobile {
          width: 6rem;
          left: 3rem;
          padding-top: 0;
          display: flex;
          flex-direction: row;
          display: none;
        }
      }
  
      &:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 10rem;//Original width: 3.8125rem;
        position: absolute;
        right: 11rem;//Original right: 7.5rem;
        top: 3.5rem;
        padding-top: 50px;

        @include mobile {
          width: 6rem;
          right: 3rem;
          display: none;
        }
      }
    }
  
    .timeline-content {
      width: 18rem; //Original width: 10rem;
      text-align: center;
      padding: 50px 20px 0px 20px;

      @include mobile {
        width: 100%;
        
        
      }
  
      .inner-circle {
        filter: drop-shadow(1px 1px 20px #325484);
        border-radius: 1.5rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6;
        overflow: visible; 

        @include mobile {
          width: 0.4rem;
          height: 0.4rem;
          display: none;
        }
        
        &:before {
          content: "";
          background-color: #3b82f6;
          display: inline-block;
          height: 3rem;
          width: 3rem;
          min-width: 3rem;
          border-radius: 50%;
          opacity: 0.5;
          overflow: visible; 

          @include mobile {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            display: none;
          }
        }
      }

      .year {
        font-size: 20px;
        color: #e670e2e1;
        font-weight: 700;
        text-shadow: 2px 0px 6px rgba(18, 38, 50, 0.66);
        padding: 10px;

        hr {
          display: none;
        }
        @include mobile {
          font-size: 15px;

          hr {
            display: flex;
          }
        }
      }

      .description {
        font-size: 12px;
        background-color: rgba(238, 122, 232, 0.231);
        padding: 10px;
        border-radius: 2px;
      }
    }
  }
}


