@import "../../global.scss";

.resume {
  background: linear-gradient(
    rgba(148, 91, 136, 0.544) 1%,
    rgba(148, 91, 136, 0.544) 3%,
    #517293d0 10%
  );
  color: #ecf0f1;
  position: relative;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  display: flex;

  h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 95px;
  }
}

.timelineBox {
  padding: 20px;
  margin: 20px 50px;
  width: 50vw;
  height: 65vh;
  background: #e867ff15;
  border: 5px solid #541c5240;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  flex: 2;
  position: relative;
  overflow: hidden;
}



.timelineContainer {
  position: absolute;
  top: 200px;
  left: 0;

  .timeline-steps {
    display: flex;
    justify-content: center;
    
    .timeline-step {
      align-items: center;
      display: flex;
      position: relative;

      &:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 16rem; //Original width: 3.46rem;
        position: absolute;
        left: 11rem;// Original left: 7.5rem;
        top: 3.5rem;
        padding-top: 50px;
      }
  
      &:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 10rem;//Original width: 3.8125rem;
        position: absolute;
        right: 11rem;//Original right: 7.5rem;
        top: 3.5rem;
        padding-top: 50px;
      }
    }
  
    .timeline-content {
      width: 18rem; //Original width: 10rem;
      text-align: center;
      padding: 50px 20px 0px 20px;
  
      .inner-circle {
        filter: drop-shadow(1px 1px 20px #325484);
        border-radius: 1.5rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6;
        overflow: visible; 
        
        &:before {
          content: "";
          background-color: #3b82f6;
          display: inline-block;
          height: 3rem;
          width: 3rem;
          min-width: 3rem;
          border-radius: 50%;
          opacity: 0.5;
          overflow: visible; 
        }
      }

      .year {
        font-size: 20px;
        color: #e670e2e1;
        font-weight: 700;
        text-shadow: 2px 0px 6px rgba(18, 38, 50, 0.66);
        padding: 10px;
      }

      .description {
        font-size: 12px;
        background-color: rgba(238, 122, 232, 0.231);
        padding: 10px;
        border-radius: 2px;
      }
    }
  }
  
  
   
  

}


