@import "../../global.scss";

.contact {
  background: linear-gradient(
    rgba(148, 91, 136, 0.544) 1%,
    rgba(148, 91, 136, 0.544) 3%,
    #517293d0 10%
  );
  color: #fafafa;
  position: relative;

  .left {
    margin-top: 180px;

    img {
      max-width: 100%;
      mask-image: linear-gradient(
        to left,
        transparent 0%,
        transparent 4%,
        rgb(0, 0, 0) 25%,
        black 75%,
        transparent 96%,
        transparent 100%
      );
      
      filter: opacity(0.7) grayscale(0.4) brightness(0.9) hue-rotate(280deg)
        drop-shadow(29px 36px 23px #26364a);
      border-radius: 40%;
    }
  }

  .right {
    .form-container {
      max-width: 700px;
      position: relative;

      legend {
        justify-content: center;
        align-items: center;
        display: flex;
        left: 5px;
        top: 70px;
        font-size: 30px;
      }

      .formGroupsContainer {
        margin-top: 170px;

        .form-group {
          padding: 10px;
          align-items: center;
          justify-content: center;
          display: flex;
          top: 150px;

          ::placeholder {
            color: rgba(173, 240, 255, 0.272);
            font-style: oblique;
            opacity: 1; 
          }

          input,
          textarea {
            background-color: rgba(231, 138, 219, 0.353);
            border: 1px solid rgba(166, 211, 233, 0.497);
            font-family: "Spartan", sans-serif;
            color: rgba(204, 231, 245, 0.945);
            border-radius: 2px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            resize: none;
            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
              display: none;
            }
            .form-control {
              color: rgb(166, 211, 233);
            }
          }

          button {
            border-radius: 0;
            color: rgb(204, 230, 243);
            border: 1px solid rgba(231, 138, 219, 0.435);
            background-color: rgba(255, 255, 255, 0);
            transition: 0.4s all ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            font-size: 20px;

            &:hover {
              font-size: 22px;
              border: 1px solid rgb(204, 230, 243);
              color: rgba(247, 199, 240, 0.877);
              background-color: rgba(32, 77, 99, 0.462);
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
            }
          }

          
        }
      }
    }
  }
}
