@import "../../global.scss";

//Topbar
.topbar {
  width: 100%;

  background-color: #0f3f5765;
  box-shadow: 0 20px 20px -1px rgba(9, 31, 49, 0.62);
  font-family: "Roboto Slab", serif;
  color: #fafafa;
  position: fixed;
  top: 0;
  z-index: 10;
  max-height: 70px;
  transition: all 0.7s ease;
  scrollbar-width: none; //For Firefox
  &::-webkit-scrollbar {
    display: none;
  }

  //active topbar
  &.active {
    color: #fcfcfc;
    background-color: #0f3f5700;
    box-shadow: 0 20px 20px -1px rgba(9, 31, 49, 0);

    //Hamburger
    .hamburger {
      //Hamburger span
      span {
        &:first-child {
          background-color: #ffffff;
          transform: rotate(405deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: #ffffff;
          transform: rotate(-405deg);
        }
      }
      //end Hamburger span
    }
    //end Hamburger
  }
  //end active topbar
}
//end Topbar

//Wrapper
.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  //Left side wrapper
  .left {
    display: flex;
    align-items: center;

    /*logo effect from : https://codepen.io/CameronFitzwilliam/pen/pamobO */
    .logo {
      font-size: 40px;
      font-weight: 700;
      text-decoration: none;
      padding: 0 5px;
      margin-right: 40px;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: url(https://thumbs.dreamstime.com/b/bright-blue-ocean-water-beautiful-sea-lake-river-144926719.jpg);
      background-size: 100%;
      background-attachment: unset;
      background-position: 0%;
      text-shadow: 3px 0px 7px rgba(21, 63, 81, 0.367),
        -3px 0px 7px rgba(21, 56, 81, 0.401), 0px 4px 7px rgba(8, 22, 35, 0.415);
      text-shadow: 3px 3px 6px #ffffff26, -2px 1px 7px #ffffff34;
      background-color: #fff;
      animation: clouds-moving infinite 220s;
      animation-fill-mode: forwards;
      animation-play-state: running;
      animation-timing-function: linear;
      transition: all 1s ease-in-out;

      @include mobileSmall {
        font-size: 25px;
      }

      span {
        font-size: 18px;
        margin: 0;
        padding: 0;
      }

      &:hover {
        background-size: 150%;
        text-shadow: 3px 3px 6px #2c2c2ca5, -2px 1px 7px #3d3d3d34;
      }
    }

    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 30px;

      font-weight: 400;

      @include mobile {
        display: none;
      }
    }

    .icon {
      font-size: 18px;
      margin-right: 5px;
    }

    span {
      font-size: 15px;
      color: #b7dcee;
      text-shadow: 0px 2px 3px rgba(23, 42, 69, 0.5);
    }
  }
  //end Left side wrapper

  //Right side wrapper
  .right {
    //Right Hamburger
    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      scrollbar-width: none; //For Firefox
      &::-webkit-scrollbar {
        display: none;
      }

      @include mobile {
        width: 28px;
        height: 20px;
      }

      span {
        width: 100%;
        height: 3px;
        background-color: rgba(255, 169, 98, 0.646);
        transform-origin: left;
        transition: all 0.7s ease;
        border-radius: 50%;
      }

      .line2, .line1 {
        @include mobile {
          height: 2px;
        }
      }
    }
    //end Right Hamburger
  }
  //end Right side wrapper
}
//end Wrapper

@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
