.skills {
 /* background-color: #4D4545;*/
 background: linear-gradient(#517293d0 1%, #517293d0 3%, rgba(148, 91, 136, 0.544) 10%);

  color: #fafafa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  h1 {
    display: flex;
    justify-content: center;
    margin: 90px 0 90px 0;
  }
}
