.skills {
  /* background-color: #4D4545;*/
  background: linear-gradient(
    #517293d0 1%,
    #517293d0 3%,
    rgba(148, 91, 136, 0.544) 10%
  );

  color: #fafafa;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  .subHeading {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 0.5em;
    background-color: #fafafa;
    background-clip: text;
    
    
    padding: 1em 0em;

    .subHeadingSpan {
      letter-spacing: 0;
      padding: 0.25em 0 0.325em;
      display: block;
      margin: 0 auto;
      

      /* Clip Background Image */

      //background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
      
      //background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf0-aYqLBH7vUnR1lpmAyFLCrmxVFDJ3VhRg&usqp=CAU) repeat-y;
      background: url(https://cdn.vectorstock.com/i/1000x1000/87/21/stylized-waves-vector-1338721.jpg) repeat-y;
      
      -webkit-background-clip: text;
      background-clip: text;

      /* Animate Background Image */
      animation: aitf2 20s linear infinite;
      -webkit-text-fill-color: #80acf87d;
      -webkit-animation: aitf2 20s linear infinite;

      /* Activate hardware acceleration for smoother animations */

      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
    }
  }

  /* Animate Background Image */

  @keyframes aitf {
    0% {
      background-position: -150% 50%;
    }
    100% {
      background-position: 250% 50%;
    }
  }

  @keyframes aitf2 {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
}

  

