@import "../../global.scss";

.landingPage {
  --background: #8f542121;
  --primary: #0b628b4e;
  --secondary: #8f542124;
  --third: #0b628b50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  z-index: -1;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  
  .imageWrap {
    background: #2c3e509a;
    width: 100%;
    height: 100vh;
    .bgimage-home {
      background-image: url("../landingpage/assets/lpbg2.jpg");
      filter: brightness(100%);
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }

  .header {
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 5;
    display: flex;
    position: absolute;
    top: 26%;
    left: 150px;
    color: #f1f1f191;
    text-shadow: 2px 2px 2px rgba(221, 136, 203, 0.49);

    @include mobile {
      left: unset;
      top: 12%;
    }

    .letterContainer {
      position: relative;

      h1 {
        animation: mover 2.5s infinite alternate;
        justify-content: space-around;
        padding: 20px;
        transition: 0.4s all ease-in-out;

        &:hover {
          color: #f1f1f1f6;

          .mni {
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
            color: #3d62ab2b;
          }
        }

        .mni {
          transition: 0.4s all ease-in-out;
          font-size: 20px;
          text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
          color: #3d62ab2b;
          text-transform: none;
          letter-spacing: none;
        }

        .l1 {
          font-size: 55px;
          transition: 0.4s all ease-in-out;
          cursor: pointer;
          font-weight: 700;
          color: #f1f1f1a0;
          letter-spacing: 0.1em;

          @include mobileSmall {
            font-size: 38px;
          }

          &:hover {
            color: #f1f1f13e;
            text-shadow: -10px -10px 1px rgba(221, 136, 203, 0.796);
          }
        }
      }
    }
  }

  .header2 {
    z-index: 5;
    position: absolute;
    
    right: 150px;
    animation: mover 3s infinite alternate;
    top: 150px;
    padding: 100px;
    font-size: 36px;
    text-align: center;

    &::after {
      
      content: "Front End Developer";
      text-align: center;
      animation: glow 5.5s ease-in-out infinite alternate;
    }

    @include mobile {
      right: unset;
      top: 450px;
      font-size: 28px;
    }
    @include mobileSmall {
      top: 400px;
      font-size: 25px;
    }
  }
  //Bubbles-----------------------------//

  //Bubble Image-----------------------------//
  .profileImg {
    align-items: center;
    justify-content: center;
    z-index: 6;
    display: flex;
    position: absolute;
    top: 50%;
    transition: all 2s ease-in-out;

    &:hover {
      top: 20%;

      @include mobile {
        top: 25%;
      }
    }

    @include mobile {
      top: 28%;
    }
    @include mobileSmall {
      top: 28%;
    }

    .imgContainer {
      margin: 50px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgb(38, 62, 102) 3px 3px 6px 0px inset,
        rgba(26, 48, 97, 0.5) -3px -3px 6px 1px inset;
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      animation: morph 8s ease-in-out infinite;
      transition: all 1s ease-in-out;

      @include mobile {
        height: 250px;
        width: 250px;
      }
      @include mobileSmall {
        height: 200px;
        width: 200px;
      }
      &:hover {
        height: 400px;
        width: 400px;
        transition: all 1s ease-in-out;

        @include mobile {
          height: 300px;
          width: 300px;
        }
      }

      img {
        height: 100%;
        filter: opacity(0.5) drop-shadow(30px 16px 20px rgb(1, 15, 26))
          contrast(1) grayscale(0.4) blur(4px) brightness(0.8);
        transition: all 3s ease-in-out;
        animation: mover 3s infinite alternate;
        position: absolute;

        @include mobile {
          filter: opacity(0.8) drop-shadow(30px 16px 20px rgb(1, 15, 26))
          contrast(1) grayscale(0.4) blur(0px) brightness(0.8);
        }

        &:hover {
          filter: opacity(0.8) drop-shadow(30px 16px 20px rgb(1, 15, 26))
            contrast(1) grayscale(0.4) blur(0px) brightness(0.8);
          transition: all 1s ease-in-out;
          animation: mover 0s infinite alternate;
        }
      }
    }
  }
}


/*--------Keyframes------------*/

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    filter: drop-shadow(16px 16px 20px rgb(6, 41, 68));
    
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    filter: drop-shadow(-16px 16px 20px rgb(6, 41, 68));
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    filter: drop-shadow(16px -16px 20px rgb(6, 41, 68));
  }
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes glow {
  0% {
    content: "Full Stack Developer";
    color: rgb(12, 29, 39);
    text-shadow: 0 0 10px #f09dff16, 0 0 20px #9dd6ff5f, 0 0 30px #f49dff5f,
      0 0 40px #9dc6ff5f, 0 0 50px #ed9dff5f, 0 0 60px #9dc6ff5f,
      0 0 70px #e59dff5f, 0 0 90px #788ec15f;
  }
  50% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px #f09dff00, 0 0 20px #9dd6ff00, 0 0 30px #f49dff00,
      0 0 40px #9dc6ff00, 0 0 50px #ed9dff00, 0 0 60px #9dc6ff00,
      0 0 70px #e59dff00, 0 0 90px #788ec100;
  }
  100% {
    content: "Web Designer";
    color: rgb(12, 29, 39);
    text-shadow: 0 0 20px #364f585f, 0 0 30px #3d58625f, 0 0 40px #6692a25f,
      0 0 50px #7bb3c75f, 0 0 60px #9de5ff5f, 0 0 70px #9de5ff5f,
      0 0 80px #9de5ff5f, 0 0 90px #9de5ff5f;
  }
}
