.landingPage {
  --background: #8f542121;
  --primary: #0b628b4e;
  --secondary: #8f542124;
  --third: #0b628b50;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  z-index: -1;

  .imageWrap {
    background: #2c3e509a;
    width: 100vw;
    height: 100vh;
    .bgimage-home {
      background-image: url("../landingpage/assets/lpbg2.jpg");
      filter: brightness(100%);
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }

  .header {
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 5;
    display: flex;
    position: absolute;
    top: 26%;
    left: 150px;
    color: #f1f1f15a;
    ///*ORANGE*/text-shadow: 2px 2px 2px rgba(28, 255, 92, 0.619);
    ///*ORANGE*/text-shadow: 2px 2px 2px rgba(255, 130, 28, 0.619);
    /*PINK*/ text-shadow: 2px 2px 2px rgba(221, 136, 203, 0.49);

    .letterContainer {
      position: relative;

      h1 {
        animation: mover 2.5s infinite alternate;
        justify-content: space-around;
        padding: 20px;
        transition: 0.4s all ease-in-out;

        &:hover {
          color: #f1f1f1f6;

          .mni {
            text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
            color: #3d62ab2b;
          }
        }
        .mni {
          transition: 0.4s all ease-in-out;
          font-size: 20px;
          text-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.571);
          color: #3d62ab2b;
        }

        .l1 {
          font-size: 50px;
          transition: 0.4s all ease-in-out;
          cursor: pointer;
          font-weight: 700;
          color: #f1f1f1a0;

          &:hover {
            color: #f1f1f13e;
            text-shadow: -10px -10px 1px rgba(221, 136, 203, 0.796);
          }
        }
      }
    }
  }
  .header2 {
    z-index: 5;
    position: absolute;
    top: 60%;
    right: 50px;
    animation: mover 3s infinite alternate;

    h1 {
      padding: 100px;
      font-size: 30px;
      text-align: center;
      animation: glow 3.5s ease-in-out infinite alternate;
    }
  }
  //Bubbles-----------------------------//

  //Bubble Image-----------------------------//
  .profileImg {
    align-items: center;
    justify-content: center;
    z-index: 5;
    display: flex;
    position: absolute;
    top: 50%;
    transition: all 2s ease-in-out;

    &:hover {
      top: 20%;
    }
    .imgContainer {
      margin: 50px;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgb(38, 62, 102) 3px 3px 6px 0px inset,
        rgba(26, 48, 97, 0.5) -3px -3px 6px 1px inset;
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      animation: morph 8s ease-in-out infinite;
      transition: all 1s ease-in-out;

      &:hover {
        height: 400px;
        width: 400px;
        transition: all 1s ease-in-out;
      }

      img {
        height: 100%;
        filter: opacity(0.5) drop-shadow(30px 16px 20px rgb(1, 15, 26))
          contrast(1) grayscale(0.4) blur(4px) brightness(0.8);
        transition: all 3s ease-in-out;
        animation: mover 3s infinite alternate;
        position: absolute;

        &:hover {
          filter: opacity(0.8) drop-shadow(30px 16px 20px rgb(1, 15, 26))
            contrast(1) grayscale(0.4) blur(0px) brightness(0.8);
          transition: all 1s ease-in-out;
          animation: mover 0s infinite alternate;
        }
      }
    }
  }
  //Bubble Image END-----------------------------//

  .welcomeBubble {
    justify-content: center;
    position: absolute;
    left: 100px;
    top: 400px;
    padding: 0;
    transition: all 2s ease-in;

    &:hover {
      top: 250px;
      left: 150px;
      z-index: 8;
    }

    .welcomeContainer {
      margin: 50px;
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: rgb(38, 62, 102) 3px 3px 6px 0px inset,
        rgba(26, 48, 97, 0.5) -3px -3px 6px 1px inset;

      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      animation: morph 8s ease-in-out infinite;
      transition: all 1s ease-in-out;

      &:hover {
        height: 400px;
        width: 400px;
        transition: all 1s ease-in-out;

        &:hover h1 {
          transition: all 1s ease-in-out;
          font-size: 120%;
          color: #fafafa;
        }
      }

      h1 {
        font-size: 10px;
        color: #fafafa42;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 1s ease-in-out;
        animation: mover 2s infinite alternate;
      }
    }
  }
}

/*--------Keyframes------------*/

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    filter: drop-shadow(16px 16px 20px rgb(6, 41, 68));
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    filter: drop-shadow(-16px 16px 20px rgb(6, 41, 68));
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    filter: drop-shadow(16px -16px 20px rgb(6, 41, 68));
  }
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes glow {
  from {
    color: rgb(12, 29, 39);
    text-shadow: 0 0 10px #f09dff16, 0 0 20px #9dd6ff5f, 0 0 30px #f49dff5f,
      0 0 40px #9dc6ff5f, 0 0 50px #ed9dff5f, 0 0 60px #9dc6ff5f, 0 0 70px #e59dff5f,
      0 0 90px #788ec15f;
  }

  to {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 20px #364f585f, 0 0 30px #3d58625f, 0 0 40px #6692a25f,
      0 0 50px #7bb3c75f, 0 0 60px #9de5ff5f, 0 0 70px #9de5ff5f, 0 0 80px #9de5ff5f,
      0 0 90px #9de5ff5f;
  }
}
