.portfolio {
  background: linear-gradient(#2c3e509a 1%, #2c3e509a 3%, rgba(148, 91, 136, 0.544) 10%);
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    position: absolute;
    top: 120px;
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    transition: all 1s ease-out;
    margin-top: 160px;
    transition: all 1s ease-out;
    left: 0;

    
}
}
