.portfolio {
  background: linear-gradient(
    #2c3e509a 1%,
    #2c3e509a 3%,
    rgba(148, 91, 136, 0.544) 10%
  );
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    padding: 0;
    top: 150px;
    display: flex;
    position: absolute;
    transition: all 1s ease-in-out;
    left: 0;
  }
}
