@import '../../global.scss';

.portfolio {
  background: linear-gradient(
    #2c3e509a 1%,
    #2c3e509a 3%,
    rgba(148, 91, 136, 0.544) 10%
  );
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      height: 30px;
    }

    @include mobileSmall {
      height: 25px;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);

      @include mobile {
        left: 20px;
        bottom: 260px;
      }
      @include mobileSmall {
        left: 1px;
        bottom: 255px;
      }
    }

    &.right {
      right: 100px;

      @include mobile {
        right: 20px;
        bottom: 260px;
      }
      @include mobileSmall {
        right: 1px;
        bottom: 255px;
      }
    }
  }

  .slider {
    padding: 0;
    top: 150px;
    display: flex;
    position: absolute;
    transition: all 1s ease-in-out;
    left: 0;

    @include mobile {
      top: 120px;
    }
    @include mobileSmall {
      top: 120px;
    }
  }
}
